html body {
    border:0;
    padding:0;
    margin:0;
    font-family: Arial;
}

img{
    border: 1px solid black;
    border-radius: 50px;
    float: right;
    margin-top: -10px;
}

h1 {
    color: navy;
    text-align: center;
}

#contact {
    text-align: center;
    font-style: italic;
}


h2 span {
    background-color: rgb(229, 231, 231);
}

h3 {
    font-style: italic;
}
#job-details {
   margin-top: -12px;
    font-style: italic;
}

.edu-details {
    font-style: italic;
    margin-top: -15px;
    font-size: 17px;
}

ul {
    list-style-type: circle;
}

a:link {
    color: rebeccapurple;
} 

hr {
    border-radius: 5px;
}

#theform{
    list-style-type: none;
    font-weight:bold;

}

.btn{
    width:50x;
    height:20px;
    color:blue;
}
.container{
    border: 2px solid rgb(8, 8, 34);
    width:300px;
   margin-left: 30px;
   margin-bottom:30px;
}

#contact-title{
    margin-left: 35px;
    padding-left: 30px;
}

input{
    border: 2px solid navy;
    background-color: rgb(253, 180, 85);
    padding: 10px;
    
}
textarea{
    border: 2px solid navy;
    background-color: rgb(253, 180, 85);
}

#mycontact{
    background-color:darkblue;
    margin-left: 5%;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    color:white;
    text-decoration: none;
}
}
span{
    text-decoration: none;
}
